# Arquivos de Bytecode Python
__pycache__/
*.py[cod]
*$py.class

build/


# Pasta de cache da linguagem Prose
procache/

# Arquivos de ambiente virtual Python (exemplos)
# .env
# .venv
# env/
# venv/
# ENV/
# VENV/

# Arquivos de IDEs e editores (exemplos)
.vscode/
.idea/
*.swp
*~
.DS_Store

# Arquivos de build do PyInstaller
build/
*.spec

# Outros arquivos específicos do macOS
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
